#content{
    background-color:  #ebecec;
    min-height: 100vh;

}

body{
    background-color:  #ebecec;
}
#title{
    color: #2a3f51;
    font-weight: 700;
    font-size: 52px;
    line-height: 50px;
    position: relative;
}
#drop_zone{
    border: 3px dashed #007bff;
    background-color:white;
    border-radius: 25px;
    width: 75%;
    margin: auto;
}
.after-upload{
    display: none;
}
.add-button , .upload-button {
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
    cursor: pointer;
    border: 0;
    height: 50px;
    border-radius: 25px;
    outline: 0;
}
.add-button:after , .upload-button:after {
    transition: 200ms all ease;
    text-shadow: 0 2px 0 rgba(0,0,0,.2);
    color: #fff;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 50px;
    border-radius: 25px;

}
.add-button:after{
    background: gray;
    content: 'Add more files';
}
.add-button:hover:after {
    background: #676262;
}
.upload-button:hover:after {
    background: #0062cc;
}
.upload-button:after{
    background: #007bff;
    content: 'Upload your files';
}
#landing-section {
    display: table;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 105px;
    padding-bottom: 50px;
    color: #2a3f51;
}
#container {
    font-size: 0;
    font-family: UniviaPro;
}

#left{
    display: table-cell;
    width: 340px;
    font-size: 12px;
    background-color: #4D6674;
    min-height:93vh;
    color: white;
    padding: 40px 30px 65px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    vertical-align: top;

}
#right{
    padding-right: 15px;
    padding-left: 15px;
}
@media screen and (max-width: 991px) {
    #left {
        display: none;
    }
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.bottom-center {
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
}
a.close{
    position: absolute;
    top:4px;
    right:4px;
}
.deep-blue-gradient{
    background: linear-gradient(0deg, #e0c3fc 1%, #8ec5fc 99%);
    height: 93vh;
}
.center{
    top:50%;
}


